 body {
  color :#00478F;
  font-family: sans-serif;
  background-color : #DBDBFF;
}
.main-heading {
  position: absolute;
  width: 300px;
  overflow: auto;
  left: 100px;
  top: 23px;
  cursor: pointer;
  font-size: 20px;
  font-weight : bold;
}
.response-heading {
  position: absolute;
  width: 300px;
  overflow: auto;
  left: 100px;
  top: 85px;
  cursor: pointer;
  font-size: 14px;
}
.input-place_address {
  font-size: 15px;
}
.place-listing, .error {
  position: absolute;
  width: 350px;
  height: 500px;
  overflow: auto;
  left: 100px;
  top: 120px;
  cursor: pointer;
  font-size: 13px;
}
.venue_name{
  font-size: 14px;
  font-weight: bold;
}
.hide {
  display : none;
}
#locationField {
  width: 400px;
  top: 55px;
  left: 100px;
  position: absolute;
}
.searchbox{
  position:absolute;
  left: 185px;
  top: -5px;
}
.error{
  color:#FF0000;
  font-weight: bold;
}
.google-map {
  position: absolute;
  width: 650px;
  height: 475px;
  overflow: auto;
  left: 550px;
  top: 80px;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid grey;
}